<div class="container">
    <h1 class="mt-4">Admin Dashboard</h1>
    <p class="lead mb-3">Welcome <%= user.name %>, Benevolent Administrator</p>
    <ul class="list-group">
      <h4>Current Active Sessions:</h4>
      <% Object.keys(sessions).forEach(session => { %>
        <li class="list-group-item">
          <p>SessionID: <%= session %></p>
          <p>UserID: <%= sessions[session]['passport']['user'] %></p>
          <form class="deleteForm "method="POST" action=<%= "/admin/delete/" + session %>>
            <button type="submit" class="btn btn-danger">Revoke Session</button>
          </form>
        </li>
      <% }) %>
    </ul>
    <br>
    <a href="/auth/logout" class="btn btn-secondary">Logout</a>    
    
</div>
